@import "../../../../../shared/styles/colors";

$input_height: 40px;

.sticky-note__input {
  height: $input_height;
  width: 100%;
  .btn-arrow {
    height: 100%;
    background: $mustard;
    float: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: solid $mustard;
    box-sizing: border-box;
    width: 15%;
    .arrow__wrapper {
      cursor: pointer;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .arrow {
        position: relative;
        font-size: 20px;
        height: 2.5em;
        width: 2.5em;
        &:after,
        &:before {
          content: "";
          display: block;
          background-color: $oil_dark;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: rotate(0deg) translate(-50%, -50%);
        }

        &:before {
          height: 1em;
          width: 0.2em;
        }

        &:after {
          height: 0.2em;
          width: 1em;
        }
        &:hover {
          animation: dingArrow 0.6s ease-in-out;
        }
      }
    }
  }
  .field-category {
    height: 100%;
    width: 85%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 2px;
    border: solid $mustard;
    box-sizing: border-box;
    float: left;
  }
}

@keyframes dingArrow {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-22.5deg);
  }
  100% {
    transform: rotate(22.5deg);
  }
}
