/*
  TO-DO:
  ostylowanie dla sticky-note-list i sticky-note-list__item - żeby ładnie się
  w kolumnie wyświetlały na telefonach i dość duże na ekranach
*/

.sticker-list {
  display: flex;
  flex-wrap: wrap;
}
