@import "../../../shared/styles/colors";
@import "../../../shared/styles/border";

.btn--logout {
  background: $mustard;
  border: none;
  border-radius: $border_radius_sticker_title;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.75);
  padding: 5px 10px;
  color: #1f2041;
  font-weight: bold;
  cursor: pointer;
}
