@import "../../../../../shared/styles/colors";
.btn {
  cursor: pointer;
  display: flex;
  margin-top: 10px;
  .plus-button {
    border: 1px solid $mustard;
    background-color: $mustard;
    position: relative;
    font-size: 20px;
    height: 2.5em;
    width: 2.5em;
    border-radius: 999px;

    &:after,
    &:before {
      content: "";
      display: block;
      background-color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: rotate(0deg) translate(-50%, -50%);
    }

    &:before {
      height: 1em;
      width: 0.2em;
    }

    &:after {
      height: 0.2em;
      width: 1em;
    }
  }
  .idea {
    display: none;
  }
}
.rotated {
  border: 1px solid $mustard;
  background-color: $mustard;
  font-size: 20px;
  height: 2.5em;
  width: 2.5em;
  cursor: pointer;
  position: relative;
  border-bottom-right-radius: 999px;
  border-top-right-radius: 999px;
  border-bottom-left-radius: 999px;
  border-top-left-radius: 999px;
  animation: border 2s ease-in forwards;
  &:after,
  &:before {
    content: "";
    display: block;
    background-color: white;
    position: absolute;
    transform: rotate(0deg) translate(-50%, -50%);
  }

  &:before {
    height: 1em;
    width: 0.2em;
    animation: rotateBefore 2s ease-in forwards;
  }

  &:after {
    height: 0.2em;
    width: 1em;
    animation: rotateAfter 2s ease-in forwards;
  }
}
.add-idea {
  display: block;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  padding-left: 10px;
  border: none;
  animation: slide 2s ease-in forwards;
}

@keyframes slide {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}

@keyframes border {
  0% {
    border-bottom-right-radius: 999px;
    border-top-right-radius: 999px;
    border-bottom-left-radius: 999px;
    border-top-left-radius: 999px;
  }
  50% {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }
  100% {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
}

@keyframes rotateBefore {
  from {
    transform: rotate(0deg) translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  to {
    transform: rotate(-45deg) translate(-50%, -50%);
    top: 30%;
    left: 64%;
  }
}
@keyframes rotateAfter {
  from {
    transform: rotate(0deg) translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  to {
    top: 46.5%;
    left: 47%;
    transform: rotate(-45deg) translate(-50%, -50%);
  }
}
