@import "../../../../../shared/styles/colors";
.btn {
  display: flex;
  .plus-button {
    border: 1px solid $mustard;
    background-color: $mustard;
    font-size: 20px;
    height: 2.5em;
    width: 2.5em;
    border-radius: 999px;
    position: relative;

    &:after,
    &:before {
      content: "";
      display: block;
      background-color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // transition: transform 1s ease-in;
    }

    &:before {
      height: 1em;
      width: 0.2em;
      animation: rotateBefore 6s ease-in forwards;
      // animation: positionYbefore 2s ease-in forwards;
    }

    &:after {
      height: 0.2em;
      width: 1em;
      animation: rotateAfter 6s ease-in forwards;
      // animation: positionXafter 2s ease-in forwards;
      // animation: positionYafter 2s ease-in forwards;
    }
    // &:hover:after {
    //   transform: rotate(-45deg);
    //   -webkit-transform: rotate(-45deg);
    //   top: 60%;
    //   left: 32.5%;
    // }
    // &:hover:before {
    //   transform: rotate(-45deg);
    //   -webkit-transform: rotate(-45deg);
    //   top: 20%;
    //   left: 50%;
    // }
    @keyframes rotateBefore {
      from {
        transform: rotate(0deg);
        top: 50%;
      }
      to {
        transform: rotate(-45deg);
        top: 20%;
      }
    }
    @keyframes rotateAfter {
      from {
        transform: rotate(0deg);
        top: 50%;
        left: 50%;
      }
      to {
        top: 60%;
        left: 32.5%;
        transform: rotate(-45deg);
      }
    }
    // @keyframes positionYbefore {
    //   from {
    //     top: 50%;
    //   }
    //   to {
    //     top: 20%;
    //   }
    // }

    // @keyframes positionYafter {
    //   from {
    //     top: 50%;
    //   }
    //   to {
    //     top: 60%;
    //   }
    // }

    // @keyframes positionXafter {
    //   from {
    //     left: 50%;
    //   }
    //   to {
    //     left: 32.5%;
    //   }
    // }
  }
}
// .plus-button:after:onclick {
//   transform: rotate(-45deg);
//   -webkit-transform: rotate(-45deg);
//   top: 60%;
//   left: 32.5%;
// }
// .plus-button:before:onclick {
//   transform: rotate(-45deg);
//   -webkit-transform: rotate(-45deg);
//   top: 20%;
//   left: 50%;
// }
