.comment {
  margin-left: 10px;
  color: wheat;
  border-bottom: 2px solid grey;
  margin-bottom: 10px;
}

// .comment-container {
//   transform: scaleY(0);
//   transition: all 0.4s;
//   height: 0;
// }
// .active_comment-container {
//   transform: scaleY(1);
//   transition: all 0.4s;
//   height: 100%;
// }
