@import "../../../../shared/styles/colors";
.comment-container__wrapper {
  display: flex;
  .comment-container {
    flex-basis: 200px;
    flex-grow: 1;
    &.--hidden {
      flex-grow: 0;
    }
  }
}

.category-content {
  margin-left: 20%;
}
.add-idea--content {
  display: flex;
}
.idea-row {
  color: whitesmoke;
  width: 200px;
  border-bottom: 2px solid $gradient-dark;
  display: flex;
  margin-bottom: 10px;
  padding: 5px 0;
  .idea {
    margin-left: 10px;
  }
  .spacer {
    flex-grow: 1;
  }
}
.icons {
  color: $dark_grey;
  cursor: pointer;
}
.icons:hover {
  color: white;
}
li {
  list-style: none;
}
