@import "../../../../shared/styles/colors";
.comment-container__wrapper {
  height: var(--contentHeight);
  transition: max-height 0.2s;
  margin: 20px 0;
  &.--hidden {
    max-height: 0px;
    ul {
      opacity: 0;
    }
  }
  ul {
    opacity: 1;
    transition: opacity 0.4s 0.1s;
  }
}

.category-content {
  margin-left: 20%;
}
.add-idea--content {
  display: flex;
}
.idea-row {
  color: whitesmoke;
  width: 400px;
  border-bottom: 2px solid $gradient-dark;
  display: flex;
  margin-bottom: 10px;
  padding: 5px 0;
  .idea {
    margin-left: 10px;
  }
  .spacer {
    flex-grow: 1;
  }
}
.icons {
  color: $dark_grey;
  cursor: pointer;
}
.icons:hover {
  color: white;
}
li {
  list-style: none;
}
