@import "../../../../../shared/styles/colors";
@import "../../../../../shared/styles/border";

.home-button {
  position: absolute;
  right: 20px;
  margin-top: 10px;
  background: $mustard;
  border: 1px solid #1f2041;
  border-radius: $border_radius_sticker_title;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.75);
  padding: 5px 10px;
  color: #1f2041;
  font-weight: bold;
  cursor: pointer;
}
